body {
	width:90%;
	margin: 2em auto;
	color: rgb(30, 8, 39);
}

.header, .footer, .content { 
	margin: 1em auto;
	border: 0.01em solid #280747;
	border-radius: 1em;
	padding: 1em;
	background: #ac1cd8;
    box-shadow: 0.2em 0.2em 0.4em #560e99;
}

.header, .footer { 
	text-align: center;
}
.messages {	margin: 1em auto; }

.err, .inf, .res {
	padding: 1em 1em 1em 3em;
	border-radius: 1em;
	color: #222;
}

.err { background-color: #f88; }
.inf { background-color: #8f8; }
.res { background-color: #ff0; }